body {
  background: #384047;
  font-family: sans-serif;
  font-size: 10px;
}
form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
form input[type="text"],
form input[type="password"] {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 1.6em;
  padding: 0.8em 0.5em;
  border-radius: 2px;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  background: #fff;
}

form input[type="submit"] {
  background: rgba(148, 186, 101, 0.7);
  box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: 0.8em 0;
  text-shadow: 0 1px #68b25b;
}
form input[type="submit"]:hover {
  background: rgba(148, 175, 101, 1);
  text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}

form a,
form div {
  color: #999;

  font-size: 16px;
}

button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 4px;
  background-color: rgba(148, 175, 101, 1);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 16px;
}
form span {
  color: #999;
}
button:hover {
  background: rgb(196, 60, 60);
  text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}
